body {
    background-color: rgb(46, 46, 46);
    text-align: center;
}

img {
    width: 480px;
    height: 220px;
}

.member {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-style: oblique;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-style: oblique;
    color: rgb(184, 184, 184);
    text-align: center;
}